@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


/*defining the colors, trying to use the same ones as in the logo*/
:root {
    --md-dark-color: #181818;
    --dark-color: #222222;
    --light-dark-color: #292929;
    --yellow-color: #ebbc14;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--dark-color);
}

a {
    text-decoration: none;
}

img {
    width: 50%;
    display: block;
}

.wrapper {
    min-height: 100vh;
    background-color: var(--dark-color);

}

.wrapper .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.search-container {
    background-color: var(--md-dark-color);
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo {
    padding: 1rem 0;
    border-bottom: 1px solid var(--light-dark-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo p {
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
}

.logo p span {
    color: var(--yellow-color);
    align-items: center;
    justify-content: center;
}

.search-element {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.search-element h3 {
    align-self: center;
    margin-right: 1rem;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 1.5rem;

}

.search-element .form-control {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border: none;
    border-radius: 3px;
    outline: none;
    color: var(--light-dark-color);
    width: 350px;
}

.search-list {
    position: absolute;
    top: 100%;
    max-height: 500px;
    overflow-y: scroll;
    z-index: 10;
    right: 0;
}

.search-list .search-list-item {
    background-color: var(--light-dark-color);
    padding: 0.5rem;
    border-bottom: 1px solid var(--dark-color);
    cursor: pointer;
    width: calc(350px - 8px);
    color: #fff;
    transition: background-color 200ms ease;
}

.search-list .search-list-item:hover {
    background-color: #1f1f1f;
}

.search-list-item {
    display: flex;
    align-items: center;
}

.search-item-thumbnail img {
    width: 40px;
    margin-right: 1rem;
}

.search-item-info h3 {
    font-weight: 600;
    font-size: 1rem;
}

.search-item-info p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: 600;
    opacity: 0.7;
}

/* thumb */
.search-list ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.search-list ::-webkit-scrollbar-thumb {
    background-color: var(--yellow-color);
    border-radius: 10px;
    outline: none;
}

/*js*/

.hide-search-list {
    display: none;
}

/*results*/

.result-container {
    padding: 3rem 0;
}

.movie-poster img {
    max-width: 300px;
    margin: 0 auto;
    border: 4px solid #fff;

}

.movie-info {
    text-align: center;
    color: #fff;
    padding-top: 3rem;

}

/*movie info styles*/

.movie-title {
    font-size: 2rem;
    color: var(--yellow-color);   
}

.movie-misc-info {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.movie-info .year {
    font-weight: 500;
}

.movie-info .rated {
    background-color: var(--yellow-color);
    padding: 0.4rem;
    margin: 0 0.4rem;
    border-radius: 3px;
    font-weight: 600;
}

.movie-info .released {
    font-size: 0.9 rem;
    opacity: 0.9;
}

.movie-info .writer {
    padding: 0.5rem;
    margin: 1rem 0;
}

.movie-info .genre {
    background-color: var(--light-dark-color);
    display: inline-block;
    padding: 0.5rem;
    border-radius: 3px;
}

.movie-info .plot {
    max-width: 400px;
    margin: 1rem auto;
    ;
}

.movie-info .language {
    color: var(--yellow-color);
    font-style: italic;
} 

.movie-info .awards {
    font-weight: 300;
    font-size: 0.9rem;

}

.movie-info .awards i {
    color: var(--yellow-color);
    margin: 1rem 0.7rem 0 0;
}

@media (max-width: 450px) {
    .logo p{
        font-size: 1.4rem;
    }
    .search-element .form-control {
        width: 90%;
        margin: 0 auto;
        padding: 0.5rem 1rem;
    }
    .search-element h3 {
        font-size: 1.4rem;
    }
    .search-list{
        width: 90%;
        right: 50%;
        transform: translateX(50%);
    }
    .search-list .search-list-item {
        width: 100%;
    }
    .movie-misc-info{
        flex-direction: column;
    }
    .movie-misc-info li:nth-child(){
        margin: 0.8rem 0;
    }
    #trailer {
        max-width: 400px;
        height: auto;
    }
}


@media (min-width: 800px) {
    .search-element {
        flex-direction: row;
    }
    .search-element h3 {
        margin-bottom: 0;
    }
    .result-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .movie-info {
        text-align: left;
        padding-top: 0;
    }
    .movie-info .movie-misc-info {
        justify-content: flex-start;
        padding-left: 0;
    }
    .movie-info .plot {
        margin-left: 0;
    }
    .movie-info .awards {
        margin-left: 0;
    }
    .movie-info .writer {
        padding-left: 0;
        margin-left: 0;
    }
}

/* carousel */

#carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
}
#trailer {
  margin: 0 1rem;
}
button {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 1rem;
}

.carousel-wrap {
    background-color: var(--md-dark-color);
}


/* Jespers top 20 movies styles */

.top-movies h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--yellow-color);
  }

#movie-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #movie-list li {
    background-color: var(--md-dark-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    width: calc(33.33% - 20px);
    transition: transform 0.2s ease-in-out;
  }
  
  #movie-list li:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  #movie-list li h2 {
    color: var(--yellow-color);
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #movie-list li p {
    color: #fff;
    font-size: 18px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  #movie-list li img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  #movie-list li a {
    color: var(--yellow-color);
    text-decoration: none;
  }
  
  #movie-list li a:hover {
    color: var(--dark-color);
  }
  
  @media only screen and (max-width: 768px) {
    #movie-list li {
      width: calc(50% - 20px);
    }
  }
  
  @media only screen and (max-width: 480px) {
    #movie-list li {
      width: 100%;
    }
  }


  /* Navbar */
.navbar {
    display: block;
    padding: 1rem 0;
    border-bottom: 1px solid var(--light-dark-color);
    width: 10rem;
    align-items: center;
}

.navbar li {
    font-size: 1.2rem;
    color: var(--yellow-color);
    list-style: none;
    padding: 1rem 2rem;
    margin: 0 0.5rem;
    font-weight: 700;
}

.navbar a {
    color: var(--yellow-color); 
    text-decoration: none;
}

.navbar a:hover {
    color: var(--dark-color);
    background-color: var(--yellow-color);
}



/*Favorite movies styles*/


.fav-button {
    background-color: var(--yellow-color);
    border: none;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background 0.3s;
}

.fav-button.favorited {
    background-color: red;
    color: white;
}
 
.favorites-container {
    background-color: var(--light-dark-color);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.favorites-container h2 {
    color: var(--yellow-color);
    text-align: center;
}

.favorite-movie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--md-dark-color);
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.favorite-movie img {
    width: 50px;
    height: 75px;
    border-radius: 5px;
}

.favorite-movie h3 {
    color: white;
    flex: 1;
    margin-left: 10px;
}

.favorite-movie .remove-fav {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
} 
